
.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav .logo {
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 5rem;
}

.nav .link {
    text-decoration: none;
    color: #ccc;
}

.nav .link:hover {
    color: #84b6c5;
}

.nav .logout {
    cursor: pointer;
}


/* NavBar container */
.nav {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  /* Logo link */
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  /* Links */
  .link {
    margin-right: 20px;
    text-decoration: none;
    color: white;
  }
  
  /* Hi username */
  .nav p {
    margin: 0;
    margin-right: 20px;
  }
  
  /* Logout link */
  .logout {
    cursor: pointer;
    text-decoration: underline;
  }
  
  /* Hover effects */
  .link:hover, .logout:hover {
    color: #ff9900;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
      align-items: flex-start;
    }
    .link, .logout {
      margin: 5px 0;
    }
  }
  