/* Login container */
.signup {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Login title */
  .signup h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Form labels */
  .signup label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  /* Form inputs */
  .signup input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Submit button */
  .signup button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .signup button:hover {
    background-color: #0056b3;
  }
  
  /* Signup button */
  .signup button:last-child {
    background-color: transparent;
    color: #007bff;
    border: none;
    cursor: pointer;
  }
  
  .signup button:last-child:hover {
    text-decoration: underline;
  }
  