


.visualize_total .selector{
    display: flex;
    flex-direction: row;
    
    

}

.visualize_total .selector .pie_chart{
    text-align: center;
    margin: 0 10px;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    width: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.visualize_total .selector .bar_graph {
    text-align: center;
    margin: 0 10px;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    width: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.visualize_total .selector #select {
    background-color: greenyellow;
}

/* VisualizeTotal container */
.visualize_total {
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 8px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Selector container */
  .selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  /* Selector options */
  .selector .pie_chart,
  .selector .bar_graph {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  /* Selected option style */
  .selector .select {
    background-color: #007bff;
    color: white;
  }
  